body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #ff05152b;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header-content {
    display: flex;
    align-items: center;
}

.app-icon {
    height: 60px;
    /* Tetapkan tinggi ikon menjadi 60px */
    width: auto;
    /* Lebar menyesuaikan proporsi asli */
    margin-right: 10px;
}

.app-info {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: #ff05152b;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #ff05152b;
}

p {
    color: #555;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.playstore-button {
    height: 40px;
    /* Tetapkan tinggi tombol menjadi 40px */
    width: auto;
    /* Lebar menyesuaikan proporsi asli */
    cursor: pointer;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    /* warna hijau */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;
    /* radius sudut 50 */
    cursor: pointer;
}

.custom-button:hover {
    background-color: #45a049;
    /* efek hover */
}

.features {
    list-style-type: none;
    padding: 0;
}

.features li {
    background: #fde0dc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #8A1717;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
